build/
coverage/
npm-debug.log
box-node-express-skeleton-app/app/config/local.js
box-node-express-skeleton-app/app/config/production.js
box-node-express-skeleton-app/app/*_config.json
config.json
package-lock.json

node_modules/
.DS_Store
.idea/
*.iml
*.pem
*.zip
.env
